#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.itemCard {
  padding: 3%;
  /* Anpassa s책 att rutorna h책ller sin storlek 책t alla h책ll */
}

.cardImage {
  max-width: 250px;
  max-height: 250px;
  /* Centrera bilden */
}

.itemCardBottom {
  display: flex;
  justify-content: space-evenly;
}

.basket {
  background-color: #686868;
  min-width: 250px;
  max-height: 80vh;
  padding: 1%;
  position: sticky;
  top: 0;
}